<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>computer-organization-and-architecture</title>
  <link href='assets/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="app">
    <a href="/">
      <h1 class="title title--effect">
        {{ title }}
        <span data-letters="{{ title }}"></span>
        <span data-letters="{{ title }}"></span>
      </h1>
    </a>
    <small>
      Performa merupakan salah satu titik ukur yang digunakan untuk mengevaluasi kemampuan suatu sistem,
      yang salah satunya dilihat berdasarkan <em>instruction set</em>.
    </small>
    <validator name="inputValidation">
      <form>
        <p>Instruction Time :
          <input type="number" v-model="instructionTime" v-validate:number="['positive']"> nano second
        </p>
      </form>
    </validator>
    <div class="errors">
      <p v-if="$inputValidation.number.positive">Number must be positive.</p>
    </div>
    <p>
      <span>Calculated MIPS Rate is approaching: <strong>{{ mips(instructionTime) }}</strong> MIPS</span>
    </p>
    <footer>
      <small>{{ subtitle }}</small>
      <br />
      <small>
        Arga Sanjaya | Irsam Rahmat Yusuf | M Ammar Fadhlur Rahman
        <br />
        Nopen Ariko | Rizki Nugraha | Vivin Meyske Rudamaga
      </small>
    </footer>
  </div>
  <script type="text/javascript" src="assets/js/vendor/vue.min.js"></script>
  <script type="text/javascript" src="assets/js/vendor/vue-validator.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>